.profile-item {
  display: flex;
  align-items: center;

  .profile-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #89c7f3;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 900;
  }

  .profile-name {
    width: calc(100% - 80px);
    margin-left: 15px;
  }

  &:hover {
    cursor: pointer;
  }
}

.new-profile {
  padding: 20px;
  position: relative;

  .new-profile-back {
    position: absolute;
    top: 24px;
  }

  h2 {
    margin: 0;
    margin-left: 40px;
  }

  p {
    text-align: center;
    color: #e5e5e5;
  }
}

.profile-creds {
  .profile-cred {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #556a7a;

    .profile-cred-icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 700;
      background: #89c7f3;
      border-radius: 25px;
    }

    .profile-data {
      margin: 0 10px;
      width: calc(100% - 80px);
    }
  }
}
