.onboarding {
  padding: 30px 50px;

  .error {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #ff6f6f;
    margin-top: 20px;
    font-weight: 600;
  }

  .vira-logo {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .vira-text {
      width: 100%;
      text-align: center;
      color: white;
      margin-top: 20px;
      font-size: 2.75rem;
      font-weight: 700;
      letter-spacing: 5px;
    }
  }

  .step {
    min-height: 30vh;
    margin-top: 30px;

    .step-title {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 1.2rem;
      font-weight: 900;
    }

    .step-text {
      font-size: 0.85rem;
      color: white;
      margin: 12px 0;
      text-align: justify;
      margin-bottom: 40px;
    }

    .step-button {
      padding: 10px 20px;
      background: #6d97b5;
      width: 100%;
      font-size: 1rem;
      border: none;
      border-radius: 30px;
      letter-spacing: 1px;
      margin-top: 30px;
      margin-bottom: 40px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .steps-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
      height: 12px;
      margin: 5px;
      width: 12px;
      background: #b2bbc3;
      border-radius: 6px;
    }

    .step-done {
      background: #89c7f3;
      height: 16px;
      width: 16px;
      border-radius: 8px;
    }
  }
}
