.input-pin {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #ccd2d7;
  border-radius: 30px;
  background: #556a7a;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .input-pin-inner {
    width: 20px;
    margin: 0 3px;
    font-size: 1.1rem;
    background: #556a7a;
    outline: none;
    border: 0;
    color: white;
    border-bottom: 2px solid #93b5cf;
  }
}
