@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  color: white;
}

#app {
  min-width: 100vw;
  min-height: 100vh;

  overflow-x: hidden;
}

.vira-button {
  padding: 10px 20px;
  background: #6d97b5;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  box-sizing: border-box;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.vira-content {
  padding: 20px;
}

.vira-logo {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .vira-text {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: 5px;
  }
}

.vira-checkbox {
  height: 14px;
  width: 14px;
  background-color: #495f6f;
  border-radius: 8px;
  border: 4px solid #8295a2;

  .checked {
    height: 10px;
    width: 10px;
    margin: 2px;
    background: #91c69d;
    border-radius: 2px;
  }

  &:hover {
    cursor: pointer;
  }
}

.vira-checked {
  border-color: #89c7f3;
}
